<section class="main">
    <div class="side-bar">
        <div class="blue">
            <div class="official">
                <img src="../assets/svg/User.svg" alt="" class="official-photo">
                <div class="name-function">
                    {{#each official}}
                    <strong class="name">{{this.name}}</strong>
                    {{/each}}
                </div>
            </div>

            <div class="nav">
                <a href="/home">
                    <div class="home list" id="home" onclick="select(this.id)">
                        <img src="../assets/svg/home.svg" alt="">
                        <p>Home</p>
                    </div>
                </a>

                <div class="auxiliary list" id="auxiliary" onclick="select(this.id)">
                    <div class="auxiliary-name">
                        <img src="../assets/svg/cadastrar.svg" alt="" class="auxiliary-photo">
                        <p>Cadastrar Auxiliares</p>
                        <img src="../assets/svg/seta.svg" alt="" id="arrow">
                    </div>
                </div>

                <div class="auxiliary list" id="auxiliaryy" onclick="closeNav()">
                    <div class="auxiliary-name">
                        <img src="../assets/svg/cadastrar.svg" alt="" class="auxiliary-photo">
                        <p>Cadastrar Auxiliares</p>
                        <img src="../assets/svg/seta-baixo.svg" alt="" id="arrow2">
                    </div>

                    <div class="auxiliary-nav" id="auxiliary-nav">
                        <a href="/products"><p>Produtos</p></a>
                        <a href="/services"><p>Serviços</p></a>
                        <a href="/noun"><p>Acomodações</p></a>
                    </div>
                </div>

                <a href="/guests">
                    <div class="guests list" id="guests" onclick="select(this.id)">
                        <img src="../assets/svg/cadastrar-h.svg" alt="">
                        <p>Cadastrar Hóspedes</p>
                    </div>
                </a>

                <a href="/reserve">
                    <div class="host list" id="host" onclick="select(this.id)">
                        <img src="../assets/svg/cama.svg" alt="">
                        <p>Reservar/Hospedar</p>
                    </div>
                </a>
                        
                <div class="stocks list" id="stocks" onclick="select(this.id)">
                    <img src="../assets/svg/caixa.svg" alt="">
                    <p>Registrar Estoque</p>
                </div>
            </div>
        </div>
    </div>

    <div class="mainn">
        <div class="semi-red">
            <div class="welcome-img">
                <p>Seja bem-vindo(a) ao Gwesty:</p>
                <img src="../assets/svg/logo.svg" alt="">
            </div>

            <div class="logout">
                <p>Sair</p>
                <img src="../assets/svg/sair.svg" alt="">
            </div>
        </div>

        <div class="content">
            <div class="headerr">
               <img src="../assets/svg/cadastrarBlue.svg" alt="">
               <h2>Cadastro de Serviços</h2>  
            </div>

           <div class="box-contentt">
              <form action="/registerServices" method="post">
                <div class="form-content">
                    <label for="description">Descrição</label>
                    <input type="text" class="form-control" id="description" name="description">
                </div>

                <div class="form-content">
                    <label for="type">Quantidade</label>
                    <input type="number" class="form-control" id="quantity" name="quantity">
                </div>

                <div class="form-content">
                    <label for="description">Valor</label>
                    <input type="text" class="form-control" id="valor" name="valor">
                </div>

                <div class="form-content">
                    <label for="description">Observações</label>
                    <textarea name="obs" id="obss" cols="30" rows="4"></textarea>
                </div>

                <div class="form-buttons">
                    <a href="/services"><button type="button" class="btn-cancel">Cancelar</button></a>
                    <button type="submit" class="btn-confirm">Confirmar</button>
                </div>
              </form>
           </div>
        </div>
    </div>
</section>