<section class="main">
    <div class="side-bar">
        <div class="blue">
            <div class="official">
                <img src="../assets/svg/User.svg" alt="" class="official-photo">
                <div class="name-function">
                    {{#each official}}
                    <strong class="name">{{this.name}}</strong>
                    {{/each}}
                </div>
            </div>

            <div class="nav">
                <a href="/home">
                    <div class="home list" id="home" onclick="select(this.id)">
                        <img src="../assets/svg/home.svg" alt="">
                        <p>Home</p>
                    </div>
                </a>

                <div class="auxiliary list" id="auxiliary" onclick="select(this.id)">
                    <div class="auxiliary-name">
                        <img src="../assets/svg/cadastrar.svg" alt="" class="auxiliary-photo">
                        <p>Cadastrar Auxiliares</p>
                        <img src="../assets/svg/seta.svg" alt="" id="arrow">
                    </div>
                </div>

                <div class="auxiliary list" id="auxiliaryy" onclick="closeNav()">
                    <div class="auxiliary-name">
                        <img src="../assets/svg/cadastrar.svg" alt="" class="auxiliary-photo">
                        <p>Cadastrar Auxiliares</p>
                        <img src="../assets/svg/seta-baixo.svg" alt="" id="arrow2">
                    </div>

                    <div class="auxiliary-nav" id="auxiliary-nav">
                        <a href="/products"><p>Produtos</p></a>
                        <a href="/services"><p>Serviços</p></a>
                        <a href="/noun"><p>Acomodações</p></a>
                    </div>
                </div>

                <a href="/guests">
                    <div class="guests list" id="guests" onclick="select(this.id)">
                        <img src="../assets/svg/cadastrar-h.svg" alt="">
                        <p>Cadastrar Hóspedes</p>
                    </div>
                </a>

                <a href="/reserve">
                    <div class="host list" id="host" onclick="select(this.id)">
                        <img src="../assets/svg/cama.svg" alt="">
                        <p>Reservar/Hospedar</p>
                    </div>
                </a>

                <div class="expenditure list" id="expenditure" onclick="select(this.id)">
                    <img src="../assets/svg/carrinho.svg" alt="">
                    <p>Registrar Consumo</p>
                </div>
                        
                <a href="/stocks">
                    <div class="stocks list" id="stocks" onclick="select(this.id)">
                        <img src="../assets/svg/caixa.svg" alt="">
                        <p>Registrar Estoque</p>
                    </div>
                </a>
            </div>
        </div>
    </div>

    <div class="mainn">
        <div class="semi-red">
            <div class="welcome-img">
                <p>Seja bem-vindo(a) ao Gwesty:</p>
                <img src="../assets/svg/logo.svg" alt="">
            </div>

            <div class="logout">
                <p>Sair</p>
                <img src="../assets/svg/sair.svg" alt="">
            </div>
        </div>

        <div class="content">
            <div class="headerr">
               <img src="../assets/svg/hospedes.svg" alt="">
               <h2>Cadastrar Hóspedes</h2>  
            </div>

           <div class="box-contentt">
              <form action="/registerGuest" method="post">
                <div class="form-content">
                    <label for="name">Nome</label>
                    <input type="text" class="form-control" id="name" name="name">
                </div>

                <div class="form-content">
                    <label for="email">E-mail</label>
                    <input type="email" class="form-control" id="email" name="email">
                </div>

                <div class="form-content">
                    <label for="cellphone">Telefone</label>
                    <input type="text" class="form-control" id="cellphone" name="cellphone">
                </div>

                <div class="form-content">
                    <label for="cpf">CPF</label>
                    <input type="text" class="form-control" id="cellphone" name="cpf">
                </div>

                <div class="form-content">
                    <label for="genre">Gênero</label>
                    <input type="text" class="form-control" id="genre" name="genre">
                </div>

                <div class="form-buttons">
                    <a href="/home"><button type="button" class="btn-cancel">Cancelar</button></a>
                    <button type="submit" class="btn-confirm">Confirmar</button>
                </div>
              </form>
           </div>
        </div>
    </div>
</section>