<section class="main">
    <div class="side-bar">
        <div class="blue">
            <div class="official">
                <img src="assets/img/foto.jpg" alt="" class="official-photo">
                <div class="name-function">
                    <strong class="name">Marina Ruy Barbosa</strong>
                    <p class="function">Gerente Geral</p>
                </div>
            </div>

            <div class="nav">
                <a href="/home">
                    <div class="home list" id="home" onclick="select(this.id)">
                        <img src="assets/svg/home.svg" alt="">
                        <p>Home</p>
                    </div>
                </a>

                <div class="auxiliary list" id="auxiliary" onclick="select(this.id)">
                    <div class="auxiliary-name">
                        <img src="assets/svg/cadastrar.svg" alt="" class="auxiliary-photo">
                        <p>Cadastrar Auxiliares</p>
                        <img src="assets/svg/seta.svg" alt="" id="arrow">
                    </div>
                </div>

                <div class="auxiliary list" id="auxiliaryy" onclick="closeNav()">
                    <div class="auxiliary-name">
                        <img src="assets/svg/cadastrar.svg" alt="" class="auxiliary-photo">
                        <p>Cadastrar Auxiliares</p>
                        <img src="assets/svg/seta-baixo.svg" alt="" id="arrow2">
                    </div>

                    <div class="auxiliary-nav" id="auxiliary-nav">
                        <a href="/products"><p>Produtos</p></a>
                        <a href="/services"><p>Serviços</p></a>
                        <a href="/noun"><p>Acomodações</p></a>
                    </div>
                </div>

                <a href="/guests">
                    <div class="guests list" id="guests" onclick="select(this.id)">
                        <img src="assets/svg/cadastrar-h.svg" alt="">
                        <p>Cadastrar Hóspedes</p>
                    </div>
                </a>

                <a href="/host">
                    <div class="host list" id="host" onclick="select(this.id)">
                        <img src="assets/svg/cama.svg" alt="">
                        <p>Reservar/Hospedar</p>
                    </div>
                </a>

                <div class="expenditure list" id="expenditure" onclick="select(this.id)">
                    <img src="assets/svg/carrinho.svg" alt="">
                    <p>Registrar Consumo</p>
                </div>

                <div class="revenue list" id="revenue" onclick="select(this.id)">
                    <img src="assets/svg/dinheiro.svg" alt="">
                    <p>Receitas</p>
                </div>
                        
                <a href="/stocks">
                    <div class="stocks list" id="stocks" onclick="select(this.id)">
                        <img src="assets/svg/caixa.svg" alt="">
                        <p>Registrar Estoque</p>
                    </div>
                </a>
            </div>
        </div>
    </div>

    <div class="mainn">
        <div class="semi-red">
            <div class="welcome-img">
                <p>Seja bem-vindo(a) ao Gwesty:</p>
                <img src="assets/svg/logo.svg" alt="">
            </div>

            <div class="logout">
                <p>Sair</p>
                <img src="assets/svg/sair.svg" alt="">
            </div>
        </div>

        <div class="content">
            <div class="header_dashboard">
                <div class="img-title">
                    <img src="assets/svg/home-red.svg" alt="">
                    <h2 class="title">Home</h2>
                </div>

                <div class="content-buttons">
                    <button class="confirm">Confirmado</button>
                    <button class="available">Disponível</button>
                    <button class="reserved">Reservado</button>
                    <button class="busy">Ocupado</button>
                </div>
            </div>

            <div class="cards">
                <div class="card">
                    <div class="card-title">
                        <h3>Suíte com cozinha</h3>
                    </div>

                    <div class="card-content">
                        <div class="reserva">
                            <strong>Reserva No.</strong>
                            <p>: 01</p>
                        </div>

                        <div class="tipo">
                            <strong>Tipo</strong>
                            <p>: Casal</p>
                        </div>

                        <div class="acomoda">
                            <strong>Acomoda</strong>
                            <p>: 02</p>
                        </div>

                        <div class="ramal">
                            <strong>Ramal</strong>
                            <p>: 01</p>
                        </div>

                        <div class="data-in">
                            <strong>Data de Check-in</strong>
                            <p>: 01/10/2023</p>
                        </div>

                        <div class="hora-in">
                            <strong>Horário de Check-in</strong>
                            <p>: 12:30:00</p>
                        </div>

                        <div class="data-out">
                            <strong>Data de Check-out</strong>
                            <p>: 07/10/2023</p>
                        </div>

                        <div class="hora-out">
                            <strong>Horário de Check-out</strong>
                            <p>: 17:30:00</p>
                        </div>

                        <div class="dias">
                            <strong>Quantidade de dias</strong>
                            <p>: 07</p>
                        </div>
                    </div>

                <div id="concluido">
                    <p>Pagamento concluido</p>
                </div>
                </div>

                <div class="card">
                            <div class="card-title" id="chale-familia">
                                <h3>Chalé Família</h3>
                            </div>

                            <div class="card-content">
                                <div class="reserva">
                                    <strong>Reserva No.</strong>
                                    <p>: 01</p>
                                </div>

                                <div class="tipo">
                                    <strong>Tipo</strong>
                                    <p>: Casal</p>
                                </div>

                                <div class="acomoda">
                                    <strong>Acomoda</strong>
                                    <p>: 02</p>
                                </div>

                                <div class="ramal">
                                    <strong>Ramal</strong>
                                    <p>: 01</p>
                                </div>

                                <div class="data-in">
                                    <strong>Data de Check-in</strong>
                                    <p>: 01/10/2023</p>
                                </div>

                                <div class="hora-in">
                                    <strong>Horário de Check-in</strong>
                                    <p>: 12:30:00</p>
                                </div>

                                <div class="data-out">
                                    <strong>Data de Check-out</strong>
                                    <p>: 07/10/2023</p>
                                </div>

                                <div class="hora-out">
                                    <strong>Horário de Check-out</strong>
                                    <p>: 17:30:00</p>
                                </div>

                                <div class="dias">
                                    <strong>Quantidade de dias</strong>
                                    <p>: 07</p>
                                </div>
                            </div>

                            <div id="pendente">
                                <p>Pagamento pendente</p>
                            </div>
                </div>

                <div class="card">
                            <div class="card-title" id="cabana">
                                <h3>Cabana</h3>
                            </div>

                            <div class="card-content">
                                <div class="reserva">
                                    <strong>Reserva No.</strong>
                                    <p>: 01</p>
                                </div>

                                <div class="tipo">
                                    <strong>Tipo</strong>
                                    <p>: Casal</p>
                                </div>

                                <div class="acomoda">
                                    <strong>Acomoda</strong>
                                    <p>: 02</p>
                                </div>

                                <div class="ramal">
                                    <strong>Ramal</strong>
                                    <p>: 01</p>
                                </div>

                                <div class="data-in">
                                    <strong>Data de Check-in</strong>
                                    <p>: 01/10/2023</p>
                                </div>

                                <div class="hora-in">
                                    <strong>Horário de Check-in</strong>
                                    <p>: 12:30:00</p>
                                </div>

                                <div class="data-out">
                                    <strong>Data de Check-out</strong>
                                    <p>: 07/10/2023</p>
                                </div>

                                <div class="hora-out">
                                    <strong>Horário de Check-out</strong>
                                    <p>: 17:30:00</p>
                                </div>

                                <div class="dias">
                                    <strong>Quantidade de dias</strong>
                                    <p>: 07</p>
                                </div>
                            </div>
                </div>

                <div class="card">
                            <div class="card-title" id="bus">
                                <h3>Bus</h3>
                            </div>

                            <div class="card-content">
                                <div class="reserva">
                                    <strong>Reserva No.</strong>
                                    <p>: 01</p>
                                </div>

                                <div class="tipo">
                                    <strong>Tipo</strong>
                                    <p>: Casal</p>
                                </div>

                                <div class="acomoda">
                                    <strong>Acomoda</strong>
                                    <p>: 02</p>
                                </div>

                                <div class="ramal">
                                    <strong>Ramal</strong>
                                    <p>: 01</p>
                                </div>

                                <div class="data-in">
                                    <strong>Data de Check-in</strong>
                                    <p>: 01/10/2023</p>
                                </div>

                                <div class="hora-in">
                                    <strong>Horário de Check-in</strong>
                                    <p>: 12:30:00</p>
                                </div>

                                <div class="data-out">
                                    <strong>Data de Check-out</strong>
                                    <p>: 07/10/2023</p>
                                </div>

                                <div class="hora-out">
                                    <strong>Horário de Check-out</strong>
                                    <p>: 17:30:00</p>
                                </div>

                                <div class="dias">
                                    <strong>Quantidade de dias</strong>
                                    <p>: 07</p>
                                </div>
                            </div>

                            <div id="obs">
                                <p>Existem observações para essa reserva</p>
                            </div>
                </div>

                <div class="card">
                            <div class="card-title" id="cabana">
                                <h3>Estacionamento 1</h3>
                            </div>

                            <div class="card-content">
                                <div class="reserva">
                                    <strong>Reserva No.</strong>
                                    <p>: 01</p>
                                </div>

                                <div class="tipo">
                                    <strong>Tipo</strong>
                                    <p>: Casal</p>
                                </div>

                                <div class="acomoda">
                                    <strong>Acomoda</strong>
                                    <p>: 02</p>
                                </div>

                                <div class="ramal">
                                    <strong>Ramal</strong>
                                    <p>: 01</p>
                                </div>

                                <div class="data-in">
                                    <strong>Data de Check-in</strong>
                                    <p>: 01/10/2023</p>
                                </div>

                                <div class="hora-in">
                                    <strong>Horário de Check-in</strong>
                                    <p>: 12:30:00</p>
                                </div>

                                <div class="data-out">
                                    <strong>Data de Check-out</strong>
                                    <p>: 07/10/2023</p>
                                </div>

                                <div class="hora-out">
                                    <strong>Horário de Check-out</strong>
                                    <p>: 17:30:00</p>
                                </div>

                                <div class="dias">
                                    <strong>Quantidade de dias</strong>
                                    <p>: 07</p>
                                </div>
                            </div>
                </div>

                <div class="card">
                            <div class="card-title" id="cabana">
                                <h3>Estacionamento 2</h3>
                            </div>

                            <div class="card-content">
                                <div class="reserva">
                                    <strong>Reserva No.</strong>
                                    <p>: 01</p>
                                </div>

                                <div class="tipo">
                                    <strong>Tipo</strong>
                                    <p>: Casal</p>
                                </div>

                                <div class="acomoda">
                                    <strong>Acomoda</strong>
                                    <p>: 02</p>
                                </div>

                                <div class="ramal">
                                    <strong>Ramal</strong>
                                    <p>: 01</p>
                                </div>

                                <div class="data-in">
                                    <strong>Data de Check-in</strong>
                                    <p>: 01/10/2023</p>
                                </div>

                                <div class="hora-in">
                                    <strong>Horário de Check-in</strong>
                                    <p>: 12:30:00</p>
                                </div>

                                <div class="data-out">
                                    <strong>Data de Check-out</strong>
                                    <p>: 07/10/2023</p>
                                </div>

                                <div class="hora-out">
                                    <strong>Horário de Check-out</strong>
                                    <p>: 17:30:00</p>
                                </div>

                                <div class="dias">
                                    <strong>Quantidade de dias</strong>
                                    <p>: 07</p>
                                </div>
                            </div>
                </div>
            </div>
        </div>
    </div>
</section>