<header class="header-login">
    <h1 class="title-login">Gwesty</h1>
</header>

<section class="main-login">
    <div class="form-login">
        <h2>Login</h2>

        <form action="/registerOfficial" method="post">
            <div class="formm-login">
                <label for="name">Nome</label>
                <input type="text" name="name" id="name">
            </div>

            <div class="formm-login">
                <label for="name">Email</label>
                <input type="email" name="email" id="email">
            </div>

            <div class="formm-login">
                <label for="name">Senha</label>
                <input type="password" name="password" id="password">
            </div>

            <div class="formm-button">
                <button class="btn-submit" type="submit">Entrar</button>
            </div>
        </form>
    </div>

    <div class="content-login">
        <img src="./assets/img/Logo.png" alt="">
    </div>
</section>