.content{
    display: flex;
    flex-direction: column;
    gap: 35px;
    padding-top: 60px;
    padding-left: 60px;
}

.header{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: #f4f4f4;
    width: 1360px;
    padding: 16px;
    border-radius: 10px;
}

.header img{
    width: 80px;
    height: 80px;
    object-fit: cover;
}

.header h2{
    font-size: 4.3rem;
    color: #3F3D56;
    font-weight: 500;
}

.box-content{
    display: flex;
    flex-direction: column;
    gap: 3rem;
    background-color: #f4f4f4;
    width: 1360px;
    padding: 3rem;
    border-radius: 10px;
}

.content-button{
    width: 106px;
    height: 33px;
    background-color: #28927f;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1.7rem;
    cursor: pointer;
}

.table{
    display: flex;
    justify-content: center;
    align-items: center;
}

.table h4{
    padding: 1rem;
    color: #616161;
    background-color: #d0d0d0;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 6px;
}

.table p{
    padding: 1rem;
    font-size: 12px;
    color: rgba(97, 97, 97, 0.56);
}

.table1, .table2, .table3, .table4, .table5, .table6{
    border: 1px solid #fff;
    width: 190px;
}

.table7{
    width: 130px;
}

.clear-line{
    gap: 1rem;
    background-color: #F5F2F2;
}

.dark-line{
    gap: 1rem;
    background-color: #E7E7E7;
}

.table7 .clear-line{
    display: flex;
    justify-content: center;
}

.table7 .dark-line{
    display: flex;
    justify-content: center;
}