.content{
    display: flex;
    flex-direction: column;
    gap: 35px;
    padding-top: 60px;
    padding-left: 60px;
}

.header{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: #fff;
    width: 1360px;
    padding: 16px;
    border-radius: 10px;
}

.header img{
    width: 80px;
    height: 80px;
    object-fit: cover;
}

.header h2{
    font-size: 4.3rem;
    color: #7E2726;
    font-weight: 500;
}

.box-content{
    display: flex;
    flex-direction: column;
    gap: 3rem;
    background-color: #fff;
    width: 1360px;
    padding: 3rem;
    border-radius: 10px;
}