.box-contentt{
    display: flex;
    justify-content: center;
    gap: 3rem;
    background-color: #f4f4f4;
    width: 1360px;
    padding: 3rem;
    border-radius: 10px;
}

form{
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.form-content{
    display: flex;
    align-items: center;
    gap: 2rem;
}

.form-buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.4rem;
}

.btn-cancel{
    width: 110px;
    height: 40px;
    color: #fff;
    background-color: #EFB44A;
    font-size: 19px;
    font-weight: 700;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-confirm{
    width: 110px;
    height: 40px;
    color: #fff;
    background-color: #28927F;
    font-size: 19px;
    font-weight: 700;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form input{
    width: 234px;
    height: 29px;
    background-color: #d9d9d9;
    border: none;
    padding: 1.5rem;
}

form textarea{
    background-color: #d9d9d9;
    border: none;
    padding: 1.5rem;
}

form label{
    color: #707070;
    font-weight: 600;
}